/node_modules
/public/storage
/public/web_files
/vendor
/.idea
Homestead.json
Homestead.yaml
.env
composer.lock
public/bower_components
public/BERITA_MENTORING/
public/scss/.sascs-cache/
resources/views/login.blade.php
bower_components/